<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.1.5.3" targetFramework="net40" />
  <package id="AWSSDK.Kinesis" version="3.1.3.0" targetFramework="net40" />
  <package id="AWSSDK.KinesisFirehose" version="3.1.0.2" targetFramework="net40" />
  <package id="LibLog" version="4.2.5" targetFramework="net40" developmentDependency="true" />
  <package id="Serilog" version="1.5.14" targetFramework="net40" />
</packages>