<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.1.4.3" targetFramework="net40" requireReinstallation="true" />
  <package id="AWSSDK.Kinesis" version="3.1.2.2" targetFramework="net40" requireReinstallation="true" />
  <package id="AWSSDK.KinesisFirehose" version="3.1.0.2" targetFramework="net40" requireReinstallation="true" />
  <package id="LibLog" version="4.2.4" targetFramework="net40" developmentDependency="true" />
  <package id="Serilog" version="1.5.14" targetFramework="net40" requireReinstallation="true" />
</packages>